html
  background: black
  color: white
  body
    background-color: black

  body, input
    font-family: 'Source Code Pro', sans-serif

  p
    font-family: 'Source Sans Pro', sans-serif
    color: white

  input
    font-size: 1em
    -webkit-appearance: none 
    padding: 5px


  h1, h2, h3, h4, h5, h6
    color: white
    font-family: 'Source Sans Pro', sans-serif
    font-weight: 300

  h1
    font-size: 4em
  
  label 
    color: white
    font-family: 'Source Sans Pro', sans-serif

.container
  background: black

red-color = rgb(192, 8, 31)


.text-red
  color: red-color

#hack72
  h1, h5
    margin-bottom: 0px
    margin-top: 0px

  p 
    margin-top: 0px
    margin-bottom: 0px
  ul
    list-style: none
    padding: 0px
