html {
  background: #000;
  color: #fff;
}
body,
input {
  font-family: 'Source Code Pro', sans-serif;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em;
}
input {
  font-size: 1em;
  -webkit-appearance: none;
  padding: 5px;
}
.red-text {
  color: #c0081f;
}
