html
  background: black;
  color: white

body, input
  font-family: 'Source Code Pro', sans-serif

p
  font-family: 'Source Sans Pro', sans-serif
  font-size: 3em

red-color = rgb(192, 8, 31)

input
  font-size: 1em
  -webkit-appearance: none 
  padding: 5px

.red-text
  color: red-color
